.footer-content {
    display: flex;
    flex: row;

    width: 100%;
    height: 100%;
}

.footer-box {
    display: flex;
    flex-direction: row;

    margin-top: 3.75rem;
    margin-left: 20.3125%;
}

.wrapper-1 {
    display: flex;
    flex-direction: column;

    max-width: 26.15%;

    margin-left: 3.75rem;
}

.wrapper-1  .box-1 {
    display: flex;
    flex-direction: row;
}

.wrapper-1  .box-1 .line {
    width: 0.1875rem;
    height: 1.875rem;

    background: var(--gradient-purple);
}

.wrapper-1  .box-1 .text {
    margin-left: 1.333rem;
}

.wrapper-1  .box-1 .text p {
    font-family: 'Sen-Regular', sans-serif;
    font-size: clamp(1rem, 0.909rem + 0.45vw, 1.25rem);
    line-height: clamp(1.25rem, 1.159rem + 0.45vw, 1.5rem);
    text-transform: uppercase;

    color: var(--gray);
    opacity: 0.75;
}

.wrapper-1 .box-2 {
    margin-top: 1.4375rem;
}

.wrapper-1 .box-2 p {
    font-family: 'Inter-Regular', sans-serif;
    font-style: italic;
    font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
    line-height: clamp(1.375rem, 1.284rem + 0.45vw, 1.625rem);

    color: var(--gray);
}

.wrapper-2 {
    display: flex;
    flex-direction: column;

    max-width: 26.15%;
    margin-left: 9.375rem;
}

.wrapper-2 .box-1 {
    display: flex;
    flex-direction: row;
}

.wrapper-2 .box-1 .line {
    width: 0.1875rem;
    height: 1.875rem;

    background: var(--gradient-purple);
}

.wrapper-2 .box-1 .text {
    margin-left: 1.333rem;
}

.wrapper-2 .box-1 .text p {
    font-family: 'Sen-Regular', sans-serif;
    font-size: clamp(1rem, 0.909rem + 0.45vw, 1.25rem);
    line-height: clamp(1.25rem, 1.159rem + 0.45vw, 1.5rem);
    text-transform: uppercase;

    color: var(--gray);
    opacity: 0.75;
}

.wrapper-2 .box-2 {
    margin-top: 1.4375rem;
}

.wrapper-2 .box-2 p {
    font-family: 'Inter-Regular', sans-serif;
    font-style: italic;
    font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
    line-height: clamp(1.375rem, 1.284rem + 0.45vw, 1.625rem);

    color: var(--gray);
}

@media screen and (max-width: 1440px) {
    .wrapper-1 {
        max-width: 35%;
    
        margin-left: 2rem;
    }

    .wrapper-2 {
        max-width: 35%;
        margin-left: 7rem;
    }
}