@import url('./content.css');
@import url('./header.css');
@import url('./main-upper.css');
@import url('./main-bottom.css');
@import url('./footer.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Sen-Regular';
    font-weight: 400;
    font-style: normal;
    font-display: swap;

    src: url('../font/Sen-Regular.ttf');
}

@font-face {
    font-family: 'Sen-Bold';
    font-weight: 700;
    font-style: normal;
    font-display: swap;

    src: url('../font/Sen-Bold.ttf');
}

@font-face {
    font-family: 'Inter-Regular';
    font-weight: 400;
    font-style: normal;
    font-display: swap;

    src: url('../font/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Inter-Medium';
    font-weight: 500;
    font-style: normal;
    font-display: swap;

    src: url('../font/Inter-Medium.ttf');
}

@font-face {
    font-family: 'Inter-SemiBold';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    
    src: url('../font/Inter-SemiBold.ttf');
}

:root {
    --white: #F9F9F9;
    --white-200: #EAEAEA;
    --gray: #2F2F2F;

    --purple: #6610F2;
}

header {
    width: 100vw;
    height: 14.30%;

    background: yellow;
}

main {
    width: 100vw;
    height: 67.55%;

    background: green;
}

main .main-upper {
    height: 55.49%;

    background: gray;
}

main .main-bottom {
    height: 44.51%;
    background: orange;
}

footer {
    width: 100vw;
    height: 18.15%;

    background: blue;
}