.main-upper {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 55.49%;
}

.codemoji-3 {
    width: 12.5rem;
    height: 12.5rem;

    margin-top: 2.625rem;
    margin-left: 17.0833%;
    transform: rotate(45deg);

    background: var(--gradient-blue);
}

.memmoji-3 img {
    width: 9.375rem;
    height: 9.375rem;

    margin-top: 1.25rem;
    margin-left: 1.25rem;

    transform: rotate(-45deg);
}

.main-infos {
    display: flex;
    flex-direction: column;

    position: absolute;
    left: 26.5625%;
    max-width: 46.875%;
}

.title-1 {
    margin-top: 3.75rem;
}

.title-1 p {
    font-family: 'Inter-Medium';
    font-size: clamp(1rem, 0.818rem + 0.91vw, 1.5rem);
    line-height: clamp(1.313rem, 1.131rem + 0.91vw, 1.813rem);
    text-transform: uppercase;
    text-align: center;

    color: var(--gray);
}

.title-2 {
    margin-top: 2.1875rem;
}

.title-2 p {
    font-family: 'Sen-Bold';
    font-size: clamp(3.75rem, 3.659rem + 0.45vw, 4rem);
    line-height: clamp(4.125rem, 4.034rem + 0.45vw, 4.375rem);
    text-align: center;

    color: var(--gray);
}

.main-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 3.25rem;
    margin-top: 9.5rem;
}

.btn-criar button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 14.1875rem;
    height: 3.375rem;

    border: none;
    border-radius: 10px;

    background: var(--purple);
}

.btn-criar button p {
    font-family: 'Inter-SemiBold', sans-serif;
    font-size: clamp(1rem, 0.909rem + 0.45vw, 1.25rem);
    line-height: clamp(1.25rem, 1.159rem + 0.45vw, 1.5rem);
    text-transform: uppercase;

    color: var(--white-100);
}

.btn-bib button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 15.0625rem;
    height: 3.375rem;

    border: 2px solid var(--white-200);
    border-radius: 10px;

    background: var(--white);
}

.btn-bib button p {
    font-family: 'Inter-Medium', sans-serif;
    font-size: clamp(1rem, 0.909rem + 0.45vw, 1.25rem);
    line-height: clamp(1.25rem, 1.159rem + 0.45vw, 1.5rem);
    text-transform: uppercase;

    color: var(--gray);
}

.codemoji-5 {
    width: 12.5rem;
    height: 12.5rem;

    margin-top: 2.625rem;
    margin-left: 42%;
    border-radius: 50%;

    background: var(--gradient-yellow);
}

.memmoji-5 img {
    width: 9.375rem;
    height: 9.375rem;

    margin-top: 1.25rem;
    margin-left: 1.25rem;
}

@media screen and (max-width: 1440px) {
    .codemoji-3 {
        margin-left: 14.0833%;
    }

    .main-infos {
        left: 26.5625%;
    }

    .title-2 p {
    font-size: 60px;
    }

    .codemoji-5 {
        margin-left: 48%;
    }
}

@media screen and (max-width: 1366px) {
    .main-infos {
        left: 24.5%;

        max-width: 70%;
    }
}

@media screen and (max-width: 1280px) {
    .main-infos {
        left: 24.5%;

        max-width: 70%;
    }
}

@media screen and (max-width: 1024px) {
    .codemoji-3 {
        width: 9.375rem;
        height: 9.375rem;
    
        margin-left: 12%;
    }
    
    .memmoji-3 img {
        width: 8rem;
        height: 8rem;
    
        margin: auto;
    }
    
    .main-infos {
        left: 24%;
        max-width: 58%;
    }

    .main-btn {
        margin-top: 8rem;
    }
    
    .codemoji-5 {
        width: 9.375rem;
        height: 9.375rem;
    
        margin-left: 50%;
    }
    
    .memmoji-5 img {
        width: 7.5rem;
        height: 7.5rem;
    
        margin-top: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .codemoji-3 {
        position: absolute;
        top: 183px;
        left: 86.5px;

        width: 6.25rem;
        height: 6.25rem;
    
        margin: 0;
        border-radius: 8px;
    }
    
    .memmoji-3 img {
        width: 5rem;
        height: 5rem;
    }

    .codemoji-5 {
        position: absolute;
        top: 117px;
        left: 563px;

        width: 6.25rem;
        height: 6.25rem;
    
        margin: 0;
    }
    
    .memmoji-5 img {
        width: 4.125rem;
        height: 4.125rem;
    }
    
    .main-infos {
        position: absolute;
        top: 230px;
        left: 20%;

        max-width: 60%;
    }
    
    .title-1 p {
        font-size: 20px;
        line-height: 14.52px;
    }
    
    .title-2 p {
        font-size: 50px;
        line-height: 38.5px;
    }
    
    .main-btn {
        margin-top: 2.0rem;
    }
    
    .btn-criar button {
        width: 12rem;
        height: 2.1875rem;
    }
    
    .btn-bib button {
        width: 12rem;
        height: 2.1875rem;
    }
}

@media screen and (max-width: 425px) {
    .codemoji-3 {
        position: absolute;
        top: 103px;
        left: 66.5px;

        width: 5.5rem;
        height: 5.5rem;
    
        margin: 0;
        border-radius: 8px;
    }
    
    .memmoji-3 img {
        width: 4.125rem;
        height: 4.125rem;
    }

    .codemoji-5 {
        top: 70px;
        left: 253px;

        width: 6.25rem;
        height: 6.25rem;
    
        margin: 0;
    }
    
    .memmoji-5 img {
        width: 4.625rem;
        height: 4.625rem;
    }
    
    .main-infos {
        top: 190px;
        left: 20px;

        max-width: 90%;
    }
    
    .title-1 p {
        font-size: 1.33rem;
        line-height: 0.9375rem;
    }
    
    .title-2 p {
        font-size: 2rem;
        line-height: 2.375rem;
    }
    
    .btn-criar button {
        width: 9rem;
        height: 2.1875rem;
    }
    
    .btn-bib button {
        width: 9rem;
        height: 2.1875rem;
    }
}

@media screen and (max-width: 320px) {
    .codemoji-3 {
        left: 3.125rem;
    }

    .codemoji-5 {
        left: 12.5rem;
    }

    .title-1 p {
        font-size: 1rem;
    }

    .main-btn {
        gap: 2rem;
    }

    .btn-criar button {
        width: 7rem;
        height: 2.5rem;
    }
    
    .btn-bib button {
        width: 7rem;
        height: 2.5rem;
    }
}