.main-bottom {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 44.51%;
}

.codemoji-2 {
    display: flex;

    width: 12.5rem;
    height: 12.5rem;

    margin-top: 1.5%;
    margin-left: 22%;
    border-radius: 30px;

    background: var(--gradient-red);
}

.memmoji-2 {
    margin: auto;
}

.memmoji-2 img {
    width: 9.375rem;
    height: 9.375rem;
}

.codemoji-1 {
    display: flex;

    width: 12.5rem;
    height: 12.5rem;

    margin-top: 8.125rem;
    margin-left: 15%;
    border-radius: 50%;

    background: var(--gradient-purple);
}

.memmoji-1 {
    margin: auto;
}

.memmoji-1 img {
    width: 9.375rem;
    height: 9.375rem;
}

.codemoji-4 {
    position: absolute;
    top: 41.25rem;
    left: 73%;

    display: flex;

    width: 12.5rem;
    height: 12.5rem;

    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

    background: var(--gradient-green);
}

.memmoji-4 img {
    position: absolute;
    top: 43.125rem;
    left: 74.4%;

    width: 9.375rem;
    height: 9.375rem;
}

@media screen and (max-width: 1440px) {
    .codemoji-2 {
        margin-top: 3rem;
        margin-left: 20%;
    }

    .codemoji-1 {
        margin-top: 8rem;
        margin-left: 18%;
    }

    .codemoji-4 {
        left: 78%;
    }
    
    .memmoji-4 img {
        left: 80%;
    }
    
}

@media screen and (max-width: 1280px) {
    .codemoji-2 {
        margin-top: 4rem;
        margin-left: 15%;
    }

    .codemoji-1 {
        margin-top: 10rem;
        margin-left: 18%;
    }

    .codemoji-4 {
        top: 45rem;
        left: 78%;
    }
    
    .memmoji-4 img {
        top: 47rem;
        left: 80%;
    }
    
}

@media screen and (max-width: 1024px) {
    .codemoji-2 {
        width: 9.375rem;
        height: 9.375rem;
    
        margin-top: 13%;
        margin-left: 15%;
    }
    
    .memmoji-2 img {
        width: 8rem;
        height: 8rem;
    }
    
    .codemoji-1 {
        width: 9.375rem;
        height: 9.375rem;
    
        margin-top: 13rem;
        margin-left: 20%;
    }
    
    .memmoji-1 img {
        width: 8rem;
        height: 8rem;
    }
    
    .codemoji-4 {
        top: 48rem;
        left: 78%;
    
        width: 9.375rem;
        height: 9.375rem;
    }
    
    .memmoji-4 img {
        top: 49rem;
        left: 79%;
    
        width: 8rem;
        height: 8rem;
    }
}

@media screen and (max-width: 768px) {
    .codemoji-2 {
        position: absolute;
        left: -500px;
    }
    
    .codemoji-1 {
        width: 6.25rem;
        height: 6.25rem;

        margin-top: 10rem;
        margin-left: 20%;
    }

    .memmoji-1 {
        margin-top: 1rem;
    }

    .memmoji-1 img {
        width: 5rem;
        height: 5rem;
    }
    
    .codemoji-4 {
        position: absolute;
        top: 35rem;
        left: 78%;
    
        width: 6.25rem;
        height: 6.25rem;
    }
    
    .memmoji-4 img {
        position: absolute;
        top: 36rem;
        left: 79.2%;
    
        width: 5rem;
        height: 5rem;
    }
}

@media screen and (max-width: 425px) {
    .codemoji-1 {
        width: 5.75rem;
        height: 5.75rem;

        margin-top: 8rem;
        margin-left: 3rem;
    }

    .memmoji-1 {
        margin-top: 1rem;
    }

    .memmoji-1 img {
        width: 4.375rem;
        height: 4.375rem;
    }
    
    .codemoji-4 {
        position: absolute;
        top: 35rem;
        left: 18rem;
    
        width: 6.875rem;
        height: 6.875rem;
    }
    
    .memmoji-4 img {
        position: absolute;
        top: 36rem;
        left: 19rem;
    
        width: 5.125rem;
        height: 5.125rem;
    }
}

@media screen and (max-width: 425px) {
    .codemoji-4 {
        left: 15rem;
    }
    
    .memmoji-4 img {
        left: 16rem;
    }
}

@media screen and (max-width: 320px) {
    .codemoji-4 {
        left: 12rem;
    }
    
    .memmoji-4 img {
        left: 13rem;
    }
}